.modal-search{
    border: none;
    box-shadow: none!important;
    background-color: transparent!important;
}
.search-container-invoice{
    /*position: absolute;*/
    /*top: 0px;*/
    margin-top: -38px;

}

.modal-search>div:first-child{
    width: 150px;
    height: 40px;
    min-height: unset;
    padding-right: 0px;
    float: right;
}
.modal-search>div:nth-child(2){
    width: 100%;
    margin-top: 11px;
    display: inline-block;
    margin-bottom: 10px;

}

.fa-search{
    margin-right: 4px;
}
.modal-search .search-btn{
    font-size: 14px;
    padding: 0 16px!important;
    height: 38px;
    margin-right: 0px;
    float: right;

}
.modal-header{
    padding-left: 0px!important;
}
.modal-header>div{
    justify-content: flex-end;
}
.search-content{
    background: #dfdfdf;
    border-radius: 10px;
    margin-top: 5px;
}

.inner-search{
    /*flex-direction: row;*/
    width: 100%;

}
.inner-search>div{
    margin-right: 30px;
}
.label-search-type{
    margin-right: 30px!important;
    margin-bottom: 0px;
    height: 45px;

}
.label-search-type span{
    font-size: 14px;
}

.label-search-type span:first-child{
    padding: 7px;
}

.search-for{
    width: 250px;
}

.search-date{
    width: 150px;
}
.search-input-invoice{
    margin-right: 20px!important;
}
.search-input-invoice label{
    font-size: 14px;
}
.search-input-invoice input,
.search-input-invoice select{
    font-size: 14px;
    height: 20px;

}

.submit-search-form{
    margin-right: 0px!important;
}